Django~=4.2
psycopg2-binary~=2.9
openpyxl~=3.1
reportlab~=4.0
gunicorn~=21.2
redis~=5.0
celery~=5.3
django-environ~=0.11
djangorestframework~=3.14

django-celery-beat~=2.5
django-allauth~=0.56
requests
cryptography
django-crispy-forms~=2.0
crispy-bootstrap5~=0.7
simpleeval~=1.0
cloudinary~=1.40
django-cloudinary-storage~=0.3